body {
  /*background-color: lightblue;*/
  background-image: url('bg3.png');
  background-size: 100% 200%;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

/*#container {
  width: 50%;
  margin: 0 auto;
  background-color: #86dbd5;
}*/

.winMessage {
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 5em;
  font-family: 'Rokkitt', 'Helvetica', cursive;
  animation-duration: .5s;
  animation-name: zoomIn;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 50%;
  height: 25%;
  z-index: 10;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.loseMessage {
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 5em;
  font-family: 'Rokkitt', 'Helvetica', cursive;
  animation-duration: .5s;
  animation-name: zoomIn;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 50%;
  height: 25%;
  z-index: 10;
  color: red;
  background-color: rgba(0,0,0,0.5);
}

.tieMessage {
  text-align: center;
  padding: 1em 0 1em 0;
  font-size: 5em;
  font-family: 'Rokkitt', 'Helvetica', cursive;
  animation-duration: .5s;
  animation-name: zoomIn;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 50%;
  height: 25%;
  z-index: 10;
  color: #86dbd5;
  background-color: rgba(0,0,0,0.5);
}

h2 {
  font-size: 5em;
  text-align: center;
  font-family: 'Damion', cursive;
  margin: 0 auto;
  animation-duration: 1s;
  animation-name: zoomIn;
  /*animation-duration: 0.5s;
  animation-name: rotateIn;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);*/

}

h4 {
  display: inline-block;
  width: 80px;
  padding: 3px 40px 3px 40px;
  background-color: #dddddd;
  animation-duration: 1s;
  animation-name: zoomInLeft;
}

#players{
  margin: 0 auto;
  text-align: center;
  font-family: 'Rokkitt', 'Helvetica', sans-serif;
}

table {
  background-color: #eeeeee;
  border: 5px solid white;
  margin: 0 auto;
  animation-duration: 3s;
  animation-name: fadeIn;
}

td {
  font-family: 'Indie Flower', 'Helvetica', sans-serif;
  font-size: 4em;
  text-align: center;
  border: 2px solid #222222;
  /*background-color: #eeeeee;*/
  height: 100px;
  width: 100px;
}

.playerMove {
  animation-duration: 0.5s;
  animation-name: flipInY;
}

.compMove {
  animation-duration: 0.5s;
  animation-name: pulse;
}

td:hover {
  background-color: #dddddd;
}
