body {

  background-color: lightblue;
}

header {
  font-size: 5em;
  text-align: center;
  font-family: 'Damion', cursive;
  animation-duration: 0.5s;
  animation-name: rotateIn;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);

}

h4 {
  display: inline-block;
  padding: 0 20px 0 20px;
  animation-duration: 0.5s;
  animation-name: zoomInLeft;
}

#players{
  margin: 0 auto;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

table {
  background-color: #eeeeee;
  border: 5px solid white;
  margin: 0 auto;
  animation-duration: 4s;
  animation-name: fadeIn;
}

td {
  font-family: 'Indie Flower', cursive;
  font-size: 4em;
  text-align: center;
  border: 2px solid #222222;
  /*background-color: #eeeeee;*/
  height: 100px;
  width: 100px;
}

.playerMove {
  animation-duration: 0.5s;
  animation-name: flipInY;
}

.compMove {
  animation-duration: 0.5s;
  animation-name: pulse;
}

td:hover {
  /*background-color: #dddddd;*/
}
